/* To-do List CSS*/

.body{
  font-family: Arial;
}

.listGrid, .listInputGrid{
  display:grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap:10px;
  align-items: center;
}

.listInputGrid{
  margin-bottom: 10px;
  align-items: stretch;
}

.inputBoxPr{
  padding: 7px 20px;
}

.dateBoxPr{
  padding:6px 15px;
}

.addButtonPr{
  background-color: green;
  color: white;
  font-size: 15px;
  border:none;  
  padding:10px 10px;
  cursor:pointer;
}

.deleteButton{
  background-color:rgb(122, 19, 19);
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 10px;
  cursor:pointer;
}


.nameInput,
.dataInput {
  font-size:15px;
  padding:6px;
  align-items:center;
}


